<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= destinationCity %></title>
  </head>
  <body>
<h1>You have come to <%= destinationCity %> page</h1>
  </body>
</html>
